{% extends "news/base.html" %}
{% load static %}

{% block title %}O autorze...{% endblock %}

{% block content %}
    <h1>O autorze...</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget ullamcorper lorem. Donec eu elementum augue.
        Suspendisse magna orci, mattis ut finibus vitae, euismod quis quam. In porta libero ac lorem tincidunt lobortis.
        Nunc accumsan, libero in dignissim lobortis, nunc erat sollicitudin augue, sed pharetra metus arcu non erat.
        Mauris id ullamcorper erat. Donec porta elit at nulla vulputate malesuada. Sed sollicitudin faucibus dolor.
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus ultricies,
        tortor eu condimentum suscipit, neque nunc dignissim risus, nec lacinia metus tortor et turpis. Mauris in
        finibus elit, tempus rhoncus nisl. Vivamus vitae purus nisi. Sed at est quis dui luctus vestibulum eu a
        diam. </p>
{% endblock %}