{% extends "news/base.html" %}
{% block content %}
    <h1>Strona Główna</h1>
    <p>{{ info }}</p>
    <p>Obecnie opublikowano {{ post_number }} post(ów)</p>
    <a href="/basic_info">test</a>
    {% if not user.is_authenticated %}
        <p>
            <button><a href="/accounts/login">zaloguj</a></button>
            <button><a href="/account/signup">signup</a></button>
            <button><a href="/accounts/password_reset">reset hasla</a></button>
        </p>
    {% endif %}
    {% if user.is_authenticated %}
        <p>
            <button><a href="/accounts/logout">logout</a></button>
        </p>
    {% endif %}
{% endblock %}